 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #040641;
   font-family: "Roboto", sans-serif;
}

body {
  font-family: monospace;
  color: white;
}

 
.mainContainer {
  margin: 50px 20px 0;
  border-radius: 10px;
}

.formContainer {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

 
img {
  width: 200px;
  height: auto;
  border-radius: 200px;
}

 
input {
  width: 70%;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  color: rgb(253, 252, 252);
  background-color: transparent;
}

 
button {
  width: 10%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #bababc;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #f7f7f9;
  color: rgb(14, 7, 7);
  transition: 0.1s;
}

 
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px auto 0;
  gap: 10px;
  width: 70%;
  text-align: center;
  background-color: #bababc;
  border-radius: 20px;
  /* border: 10px solid black; */
  box-shadow: 20px 30px 30px 30px rgba(252, 55, 55, 0.1);
}
 
.userDetails {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 20px;
  color: white;
}
 
h4, .h1 {
 
  color: white;
}

 
 
@media (max-width: 768px) {
  .formContainer,
  .container,
  .userDetails {
    width: 90%;
  }

  input {
    width: 90%;
  }

  button {
    width: 25%;
  }

  img {
    width: 150px;
  }
}

 
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  button {
    width: 50%;
  }

  img {
    width: 120px;
  }

  .mainContainer {
    margin-top: 30px;
  }
}
